.header{
    border-bottom: 1px solid #ddd;
}
.header h6{
    color: rgb(125, 202, 8);
}
.item img{
    width: 120px;
    height: 150px;
    padding: 5px;
    margin-right: 50px;
}
.info{
    margin: 20px 0;
}
.info button i{
    font-size: 15px;
}