.rating i{
    font-size: 15px;
    margin: 1px;
    color: #FACA51;
}
.price-input{
    width: 70px;
   
}
.price-input, .price-btn{
    margin: 3px 0px 2px 2px;
}
.card{
    margin-top: 5px;
    margin-bottom: 5px;
}
.card:hover{
    box-shadow:inset 0 -3em 3em rgba(0,0,0,0.1),
    0 0  0 2px rgb(255,255,255),
    0.3em 0.3em 1em rgba(0,0,0,0.3);
    cursor: pointer;

}
.product-list:hover{
    text-decoration: none;
    
}