.nav-logo{
    width: 120px;
    height: 40px;
}
.cart-btn{
    padding: 5px 15px 5px 15px;
    color: #FAFDFB;
    border-radius: 20px !important;
    border:0.5px solid #E43023;
    background: #E43023 !important;
}
.cart-btn i{
    font-size: 20px;
}
.site-btn {
    background-color: #E43023;
    border-radius: 0px 5px 4px 0px;
    color: white;
    height: 38px;
    
}
.site-btn i{
    font-size: 15px;
} 
.navbar{
    font-size: 16px;
    font-weight: 300;
    background-color: white !important;
    box-shadow: 0 0 8px 0 rgba(57 78 234 8.1);
}